.header-pagina{
    background-color: rgba(53, 30, 0, 0.7);
    
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
}
.header-pagina:hover{
    background-color: rgba(53, 30, 0, 1);
    transition: 1s;
}

.header-pagina img{
    width: 100px;
}

.header-pagina .img-menu{
    display: none;
}

@media(max-width: 576px){
    .header-pagina{ 
        width: 576px;
        padding: 10px 0px;
        position: fixed;
    }
    .header-pagina .logo{
        display: none;
    }
    .header-pagina .img-menu{
        width: 65px;
        display: block;
    }
    .header-pagina{
        justify-content: space-between;
    }
}