.pagina{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;

  
  background-image: url(./assets/imgs/imagem-principal.jpg);
  background-size:initial;
  background-repeat: no-repeat;
}
.main{
  grid-area: main;
}